<div class="comment">

    <div class="comment-side">

        <div class="comment-avatar">

            <a href="/user/{{author._id}}/"><img src={{author.avatar}}></a>

        </div> <!-- .comment-avatar -->

        <div class="comment-score">{{comment.score}}</div> <!-- .comment-score -->

        <ul class="comment-vote">
            <li><a class="fi-like"></a></li>
            <li><a class="fi-dislike"></a></li>
        </ul> <!-- .comment-vote -->

    </div> <!-- .comment-side -->

    <div class="comment-main">

        <div class="comment-header">
            <!--todo: get fuzzy timestamp-->
            <a href="#">{{author.name}}</a> <span class="time">{{comment.timestamp}}</span> <a class="flag"
                                                                                                         data-open="flagCommentModal"
                                                                                                         title="Flag comment"
                                                                                                         aria-controls="flagCommentModal"
                                                                                                         aria-haspopup="true"
                                                                                                         tabindex="0"><span
                class="fi-flag"></span></a> <a class="delete" data-open="deleteContentModal"
                                               aria-controls="deleteContentModal" aria-haspopup="true"
                                               tabindex="0"><span class="fi-x"></span></a>

        </div> <!-- .comment-header -->

        <div class="comment-body">

            <p>{{comment.content}}</p>

        </div> <!-- .comment-body -->

        <div class="comment-footer">

            <ul class="options">
                <li><a href="#">Reply</a></li>
            </ul>

        </div> <!-- .comment-footer -->

        <div class="comment-reply">


        </div> <!-- .comment-reply -->

    </div> <!-- .comment-main -->


    <div class="comment-nested">

    </div> <!-- .comment-nested -->

</div>