<head>
    <link rel="stylesheet" href="/assets/css/formStyle.css">
    <script src="/bundle.js"></script>
    <script>
//        todo: extract to separate file
        var app = angular.module('myApp', ['hc.marked']);

        app.config(function ($interpolateProvider) {
            $interpolateProvider.startSymbol('{[{');
            $interpolateProvider.endSymbol('}]}');
        });

        app.config(['markedProvider', function (markedProvider) {
            markedProvider.setOptions({
                gfm: true
            });
        }]);

        app.controller('editProfileCtrl', function ($scope, $http, $window) {
            var url = $window.location.origin;
            $scope.formModel = {};
            $scope.activeAvatar = '{{data.user.activeAvatar}}';
            //set default values
            $scope.formModel.name = '{{data.user.name}}';
            $scope.formModel.email = '{{data.user.email}}';
            $scope.formModel.website = '{{data.user.website}}';
            $scope.formModel.summary = '{{data.user.summary}}';
            $scope.oneSocial = {{data.user.oneSocial}};
            $scope.previewSummary = false;

            $scope.togglePreviewSummary = function () {
                $scope.previewSummary = !$scope.previewSummary;
                console.log("Toggle preview summary: ", $scope.previewSummary);
            };

            $scope.onProfileSubmit = function (valid) {
                if (valid) {
                    if ($scope.editProfileForm.$pristine) {
                        $window.location.href = url + '/user/my-profile';
                    }
                    console.log("CLicked on submit");
                    console.log($scope.formModel);
                    $http.post(url + '/edit-profile', $scope.formModel).success(function (data) {
                        console.log("Saved profile");
                        $window.location.href = url + '/user/my-profile'
                    }).error(function (data) {
                        console.log("Error saving profile");
                    })
                } else {
                    console.log("Form is invalid!");
                }

            };
            $scope.onCancel = function () {
                console.log("Cancel clicked!");
                $window.location.href = url + '/user/my-profile'
            };

            $scope.removeGithub = function () {
                $http.get(url + '/edit-profile/remove/github');
                console.log("reloading...");
                $window.location.reload()
            };

            $scope.toggleGithub = function () {
                $http.get(url + '/edit-profile/toggle/github');
                console.log("reloading...");
                $window.location.reload()
            };

            $scope.removeFB = function () {
                $http.get(url + '/edit-profile/remove/fb');
                console.log("reloading...");
                $window.location.reload()
            };

            $scope.toggleFB = function () {
                $http.get(url + '/edit-profile/toggle/fb');
                console.log("reloading...");
                $window.location.reload()
            };

            $scope.removeTwitter = function () {
                $http.get(url + '/edit-profile/toggle/fb');
                console.log("reloading...");
                $window.location.reload()
            };
            $scope.toggleTwitter = function () {
                $http.get(url + '/edit-profile/toggle/twitter');
                console.log("reloading...");
                $window.location.reload()
            };

            $scope.removeGoogle = function () {
                $http.get(url + '/edit-profile/toggle/google');
                console.log("reloading...");
                $window.location.reload()
            };
            $scope.toggleGoogle = function () {
                $http.get(url + '/edit-profile/toggle/google');
                console.log("reloading...");
                $window.location.reload()
            };

            $scope.useFBPhoto = function () {
                $http.get(url + '/edit-profile/use-photo/fb');
                $window.location.reload();
            };
            $scope.useTwitterPhoto = function () {
                $http.get(url + '/edit-profile/use-photo/twitter');
                $window.location.reload();
            };
            $scope.useGithubPhoto = function () {
                $http.get(url + '/edit-profile/use-photo/github');
                $window.location.reload();
            };
            $scope.useGooglePhoto = function () {
                $http.get(url + '/edit-profile/use-photo/google');
                $window.location.reload();
            };


        });
    </script>
</head>
<form ng-app="myApp"
      ng-controller="editProfileCtrl"
      novalidate="novalidate"
      ng-submit="onProfileSubmit(editProfileForm.$valid)"
      name="editProfileForm">

    <div class="row columns">

        <div class="edit-profile">

            <h1 class="page-title">Edit Profile</h1>

            <div class="edit-profile-header">
                <!--todo: be able to edit avatar-->
                <p class="avatar"><img src='{{data.user.avatar}}'></p>

                <div class="edit-profile-title">

                    <label class="section-title"
                           for="name"
                           ng-class="{'has-error': !editProfileForm.name.$valid && !editProfileForm.$pristine}">
                        Name <span class="mandatory">*</span>
                    </label>

                    <!--user's name-->
                    <input ng-model="formModel.name"
                           ng-class="{'has-error': !editProfileForm.name.$valid && !editProfileForm.$pristine}"
                           required="required"
                           type="text"
                           placeholder="Your name"
                           id="name"
                           name="name">
                    <p class="error-help-text"
                       ng-show="editProfileForm.name.$error.required">
                        Name is required
                    </p>

                </div>

            </div>

            <div class="edit-profile-primary">

                <div class="edit-profile-primary-group1">

                    <label class="section-title" for="position">Position/Job Description</label>

                    <p class="input-hint">You can use <a href="http://commonmark.org/help/" target="_blank">markdown</a>
                        here.</p>

                    <textarea ng-model="formModel.summary"
                              placeholder="User summary"
                              id="position"
                              name="summary">
                    </textarea>

                    <p class="input-hint input-hint-after"
                       ng-show="!previewSummary">
                        <a ng-click="togglePreviewSummary()"
                           ng-disabled="!formModel.summary">
                            Preview
                        </a>
                    </p>

                    <div ng-show="previewSummary && formModel.summary"
                         class="md-summary">
                        <br>
                        <div marked="formModel.summary"></div>

                        <p class="input-hint-after input-hint"
                           ng-click="togglePreviewSummary()">
                            Close Summary
                        </p>
                    </div>


                    <hr>

                    <label class="section-title" for="website">Website</label>

                    <input ng-model="formModel.website"
                           type="url"
                           placeholder="Website URL"
                           id="website"
                           name="website">

                    <hr>

                    <label class="section-title"
                           for="email"
                           ng-class="{'has-error': !editProfileForm.email.$valid && !editProfileForm.email.$pristine}">
                        Email
                    </label>

                    <input ng-model="formModel.email"
                           ng-class="{'has-error': !editProfileForm.email.$valid && !editProfileForm.email.$pristine}"
                           type="email"
                           placeholder="Email"
                           id="email"
                           name="email">
                    <p class="error-help-text"
                       ng-show="editProfileForm.email.$error.email">
                        Please enter a valid email
                    </p>

                </div>

                <div class="edit-profile-primary-group2">

                    {{#if data.user.github.url}}
                        <label class="section-title" for="github">
                            GitHub Profile {{#if data.user.github.hidden}}(hidden){{/if}}
                        </label>
                        <br>
                        <div class="edit-profile-header">

                            <div class="avatar">
                                <a href="{{data.user.github.url}}"><img src="{{data.user.github.avatarURL}}"></a>
                            </div>

                            <span><a class="profile-link"
                                     href="{{data.user.github.url}}">{{data.user.github.username}}</a></span>
                        </div>
                        <p class="input-hint input-hint-after">
                            <a ng-click="removeGithub()" ng-disabled="oneSocial">Remove</a>
                            |
                            {{#if data.user.github.hidden}}
                                <a href="#" ng-click="toggleGithub()">Show</a>
                            {{else}}
                                <a href="#" ng-click="toggleGithub()">Hide</a>
                            {{/if}}
                            |
                            <a ng-click="useGithubPhoto()" ng-disabled="activeAvatar == 'github'">Use this photo</a>
                        </p>
                        <hr>
                    {{else}}
                        <label class="section-title" for="github">GitHub Profile</label>
                        <br>
                        <ul class="button-row">
                            <li class="menu-submit"><a href="/auth/github/add">Add Github</a></li>
                        </ul>
                        <hr>
                    {{/if}}

                    {{#if data.user.twitter.username}}
                        <label class="section-title" for="twitter">
                            Twitter Profile {{#if data.user.twitter.hidden}}(hidden){{/if}}
                        </label>
                        <br>
                        <div class="edit-profile-header">
                            <div class="avatar"><img src="{{data.user.twitter.avatarURL}}"></div>
                            <span><a class="profile-link"
                                     href="{{data.user.twitter.url}}">{{data.user.twitter.username}}</a>
                        </div>
                        <p class="input-hint input-hint-after">
                            <a ng-click="removeTwitter()" ng-disabled="oneSocial">Remove</a>
                            |
                            {{#if data.user.twitter.hidden}}
                                <a ng-click="toggleTwitter()">Show</a>
                            {{else}}
                                <a ng-click="toggleTwitter()">Hide</a>
                            {{/if}}
                            |
                            <a ng-click="useTwitterPhoto()" ng-disabled="activeAvatar == 'twitter'">Use this photo</a>
                        </p>
                        <hr>
                    {{else}}
                        <label class="section-title" for="twitter">Twitter Profile</label>
                        <br>
                        <ul class="button-row">
                            <li class="menu-submit"><a href="/auth/twitter/add">Add Twitter</a></li>
                        </ul>
                        <hr>
                    {{/if}}

                    {{#if data.user.fb.url}}
                        <label class="section-title" for="fb">
                            Facebook Profile {{#if data.user.fb.hidden}}(hidden){{/if}}
                        </label>
                        <br>
                        <!--todo: style-->
                        <div class="edit-profile-header">
                            <div class="avatar"><img src="{{data.user.fb.avatarURL}}"></div>
                            <span><a class="profile-link" href="{{data.user.fb.url}}">{{data.user.fb.displayName}}</a>
                        </div>
                        <p class="input-hint input-hint-after">
                            <a ng-click="removeFB()" ng-disabled="oneSocial">Remove</a>
                            |
                            {{#if data.user.fb.hidden}}
                                <a ng-click="toggleFB()">Show</a>
                            {{else}}
                                <a ng-click="toggleFB()">Hide</a>
                            {{/if}}
                            |
                            <a ng-click="useFBPhoto()" ng-disabled="activeAvatar == 'fb'">Use this photo</a>
                        </p>

                        <hr>
                    {{else}}
                        <label class="section-title" for="facebook">Facebook Profile</label>
                        <br>
                        <ul class="button-row">
                            <li class="menu-submit"><a href="/auth/fb/add">Add Facebook</a></li>
                        </ul>
                        <hr>
                    {{/if}}

                    {{#if data.user.google.id}}
                        <label class="section-title" for="google">
                            Google Profile {{#if data.user.google.hidden}}(hidden){{/if}}
                        </label>
                        <br>
                        <!--todo: style-->
                        <div class="edit-profile-header">
                            <div class="avatar"><img src="{{data.user.google.avatarURL}}"></div>
                            <span><a class="profile-link"
                                     href="{{data.user.google.url}}">{{data.user.google.displayName}}</a>
                        </div>
                        <p class="input-hint input-hint-after">
                            <a ng-click="removeGoogle()" ng-disabled="oneSocial">Remove</a>
                            <!--|-->
                                <!--{{#if data.user.google.hidden}}-->
                            <!--<a ng-click="toggleGoogle()">Show</a>-->
                                <!--{{else}}-->
                            <!--<a ng-click="toggleGoogle()">Hide</a>-->
                                <!--{{/if}}-->
                            |
                            <a ng-click="useGooglePhoto()" ng-disabled="activeAvatar == 'google'">Use this photo</a>
                        </p>

                        <hr>
                    {{else}}
                        <!--<label class="section-title" for="google">Google Profile</label>-->
                        <!--<br>-->
                        <!--<ul class="button-row">-->
                        <!--<li class="menu-submit"><a href="/auth/google/add">Add Google</a></li>-->
                        <!--</ul>-->
                        <!--<hr>-->
                    {{/if}}

                </div>

            </div>
            <ul class="button-row">
                <!--todo: delete profile from db-->
                <li>
                    <a class="alt" ng-click="onCancel()">Cancel</a>
                </li>
                <li>

                    <button name="submit"
                            type="submit"
                            ng-disabled="editProfileForm.$invalid || editProfileForm.$pristine">
                        Save Profile
                    </button>
                </li>
            </ul>
        </div>

    </div>

</form>