<head>
    <link rel="stylesheet" href="/assets/css/formStyle.css">
    <script>
        var url = 'http://localhost:8080';
        var app = angular.module('myApp', []);

        app.config(function ($interpolateProvider) {
            $interpolateProvider.startSymbol('{[{');
            $interpolateProvider.endSymbol('}]}');
        });

        app.controller('editProfileCtrl', function ($scope, $http, $window) {
            $scope.formModel = {};
            //set default values
            $scope.formModel.name = '{{data.user.name}}';
            $scope.formModel.email = '{{data.user.email}}';
            $scope.formModel.website = '{{data.user.website}}';
            $scope.formModel.summary = '{{data.user.summary}}';
            $scope.oneSocial = {{data.user.oneSocial}};
            //todo: make avatar changeable

            $scope.onSubmit = function (valid) {
                if (valid) {
                    if ($scope.editProfileForm.$pristine) {
                        $window.location.href = url + '/user/my-profile';
                    }
                    console.log("CLicked on submit");
                    console.log($scope.formModel);
                    $http.post(url + '/edit-profile', $scope.formModel).success(function (data) {
                        console.log("Saved profile");
                        $window.location.href = url + '/user/my-profile'
                    }).error(function (data) {
                        console.log("Error saving profile");
                    })
                } else {
                    console.log("Form is invalid!");
                }

            };
            $scope.onCancel = function () {
                console.log("Cancel clicked!");
                $window.location.href = url + '/user/my-profile'
            };

            $scope.removeGithub = function () {
                $http.get(url + '/edit-profile/remove/github');
                console.log("reloading...");
                $window.location.reload()
            };

            $scope.toggleGithub = function () {
                $http.get(url + '/edit-profile/toggle/github');
                console.log("reloading...");
                $window.location.reload()
            };

            $scope.removeFB = function () {
                $http.get(url + '/edit-profile/remove/fb');
                console.log("reloading...");
                $window.location.reload()
            };

            $scope.toggleFB = function () {
                $http.get(url + '/edit-profile/toggle/fb');
                console.log("reloading...");
                $window.location.reload()
            };

            $scope.removeTwitter = function () {
                $http.get(url + '/edit-profile/remove/twitter');
                console.log("reloading...");
                $window.location.reload()
            };
            $scope.toggleTwitter = function () {
                $http.get(url + '/edit-profile/toggle/twitter');
                console.log("reloading...");
                $window.location.reload()
            };
        });
    </script>
</head>
<form ng-app="myApp"
      ng-controller="editProfileCtrl"
      novalidate="novalidate"
      ng-submit="onSubmit(editProfileForm.$valid)"
      name="editProfileForm">

    <div class="row columns">

        <div class="edit-profile">

            <h1 class="page-title">Edit Profile</h1>

            <div class="edit-profile-header">
                <!--todo: be able to edit avatar-->
                <p class="avatar"><img src='{{data.user.avatar}}'></p>

                <div class="edit-profile-title">

                    <label class="section-title"
                           for="name"
                           ng-class="{'has-error': !editProfileForm.name.$valid && !editProfileForm.$pristine}">
                        Name <span class="mandatory">*</span>
                    </label>

                    <!--user's name-->
                    <input ng-model="formModel.name"
                           ng-class="{'has-error': !editProfileForm.name.$valid && !editProfileForm.$pristine}"
                           required="required"
                           type="text"
                           placeholder="Your name"
                           id="name"
                           name="name">
                    <p class="error-help-text"
                       ng-show="editProfileForm.name.$error.required">
                        Name is required
                    </p>

                </div>

            </div>

            <div class="edit-profile-primary">

                <div class="edit-profile-primary-group1">

                    <label class="section-title" for="position">Position/Job Description</label>

                    <p class="input-hint">You can use <a href="http://commonmark.org/help/" target="_blank">markdown</a>
                        here.</p>

                    <textarea ng-model="formModel.summary"
                              placeholder="Notebook summary"
                              id="position"
                              name="summary">
                        {{data.user.summary}}
                    </textarea>

                    <p class="input-hint input-hint-after"><a href="#">Preview</a></p>

                    <hr>

                    <label class="section-title" for="website">Website</label>

                    <input ng-model="formModel.website"
                           type="url"
                           placeholder="Website URL"
                           id="website"
                           name="website">

                </div>

                <div class="edit-profile-primary-group2">

                    {{#if data.user.github.url}}
                        <label class="section-title" for="github">
                            GitHub Profile {{#if data.user.github.hidden}}(hidden){{/if}}
                        </label>
                        <br>
                        <a href="{{data.user.github.url}}">{{data.user.github.username}}</a>
                        <!--todo: remove/hide/show from db-->
                        <p class="input-hint input-hint-after">
                            <a ng-click="removeGithub()" ng-disabled="oneSocial">Remove</a>
                            |
                            {{#if data.user.github.hidden}}
                                <a href="#" ng-click="toggleGithub()">Show</a>
                            {{else}}
                                <a href="#" ng-click="toggleGithub()">Hide</a>
                            {{/if}}
                        </p>
                        <hr>
                    {{else}}
                        <label class="section-title" for="github">GitHub Profile</label>
                        <br>
                        <ul class="button-row">
                            <li class="menu-submit"><a href="/auth/github/add">Add Github</a></li>
                        </ul>
                        <hr>
                    {{/if}}

                    {{#if data.user.twitter.username}}
                        <label class="section-title" for="twitter">
                            Twitter Profile {{#if data.user.twitter.hidden}}(hidden){{/if}}
                        </label>
                        <br>
                        <a>{{data.user.twitter.username}}</a>
                        <!--todo: remove/hide/show from db-->
                        <p class="input-hint input-hint-after">
                            <a ng-click="removeTwitter()" ng-disabled="oneSocial">Remove</a>
                            |
                            {{#if data.user.fb.hidden}}
                                <a ng-click="toggleTwitter()">Show</a>
                            {{else}}
                                <a  ng-click="toggleTwitter()">Hide</a>
                            {{/if}}
                        </p>
                        <hr>
                    {{else}}
                        <label class="section-title" for="twitter">Twitter Profile</label>
                        <br>
                        <ul class="button-row">
                            <li class="menu-submit"><a href="/auth/twitter/add">Add Twitter</a></li>
                        </ul>
                        <hr>
                    {{/if}}

                    {{#if data.user.fb.url}}
                        <label class="section-title" for="github">
                            Facebook Profile {{#if data.user.fb.hidden}}(hidden){{/if}}
                        </label>
                        <br>
                        <!--todo: style-->
                        <a href="{{data.user.fb.url}}">{{data.user.fb.displayName}}</a>
                        <!--todo: remove/hide/show from db-->
                        <p class="input-hint input-hint-after">
                            <a ng-click="removeFB()" ng-disabled="oneSocial">Remove</a>
                            |
                            {{#if data.user.fb.hidden}}
                                <a ng-click="toggleFB()">Show</a>
                            {{else}}
                                <a ng-click="toggleFB()">Hide</a>
                            {{/if}}
                        </p>

                        <hr>
                    {{else}}
                        <label class="section-title" for="facebook">Facebook Profile</label>
                        <br>
                        <ul class="button-row">
                            <li class="menu-submit"><a href="/auth/fb/add">Add Facebook</a></li>
                        </ul>
                        <hr>
                    {{/if}}

                    <!--todo: google-->

                    <!--todo: linkedin?-->

                    <label class="section-title"
                           for="email"
                           ng-class="{'has-error': !editProfileForm.email.$valid && !editProfileForm.email.$pristine}">
                        Email
                    </label>

                    <input ng-model="formModel.email"
                           ng-class="{'has-error': !editProfileForm.email.$valid && !editProfileForm.email.$pristine}"
                           type="email"
                           placeholder="Email"
                           id="email"
                           name="email">
                    <p class="error-help-text"
                       ng-show="editProfileForm.email.$error.email">
                        Please enter a valid email
                    </p>
                </div>

            </div>
            <ul class="button-row">
                <!--todo: delete profile from db-->
                <li>
                    <a class="alt" ng-click="onCancel()">Cancel</a>
                </li>
                <li>

                    <button name="submit"
                            type="submit"
                            ng-disabled="editProfileForm.$invalid || editProfileForm.$pristine">
                        Save Profile
                    </button>
                </li>
            </ul>
        </div>

    </div>

</form>