<head>
    <script src="/bundle.js"></script>

    <script>
        //todo: change this once not running on local host
        var url = 'http://localhost:8080';
        var app = angular.module('previewApp', ['hc.marked']);

        app.config(function ($interpolateProvider) {
            $interpolateProvider.startSymbol('{[{');
            $interpolateProvider.endSymbol('}]}');
        });

        app.config(['markedProvider', function (markedProvider) {
            markedProvider.setOptions({
                gfm: true
            });
        }]);

        app.controller('previewCtrl', function ($scope, $http, $window) {
            // Vars ================================================================
            $scope.summary = '{{data.notebook.summary}}';
            $scope.published = new Date('{{data.notebook.published}}');
            $scope.lastUpdated = new Date('{{data.notebook.lastUpdated}}');

            // Methods =============================================================
            $scope.onCancel = function () {
                console.log("Cancelling...");
                $http.get('/submit/cancel');
                $window.location.href = url + '/';
            };

            $scope.onSubmit = function () {
                console.log("Submitting...");
                $http.get('/submit/confirm').then(function (res) {
                    console.log("Got response: ", res.data);
                    $window.location.href = url + '/notebook/' + res.data;
                });
            }

        });
    </script>
</head>
<div class="row" ng-app="previewApp" ng-controller="previewCtrl">
    <div class="column">

        <div class="details">

            <div class="details-side">
                <div class="vote">
                    <a class="fi-like" id="submission-upvote-button"></a>

                    <span class="score" id="submission-score">{{data.notebook.score}}</span>

                    <a class="fi-dislike" id="submission-downvote-button"></a>

                </div>

            </div>

            <div class="details-main">

                <div class="details-header">

                    <div class="details-title">

                        <h1 class="title">{{data.notebook.title}}</h1>

                        <ul class="topics">
                            {{#each data.notebook.topicList}}
                                <li><a>{{this}}</a></li>
                            {{/each}}
                        </ul>

                    </div>

                    <div class="details-counts">

                        <div class="counts">
                            <ul>
                                <li class="views"><span class="count">{{data.notebook.views}}</span> Views</li>
                                <li class="comments"><span class="count">0</span> Comments</li>
                                <li class="votes"><span class="count">{{data.notebook.votes}}</span> Votes</li>
                            </ul>
                        </div>

                    </div>

                </div>

                <div class="details-body">

                    <div class="details-primary">

                        <p marked="summary"></p>

                    </div>

                    <div class="details-secondary">

                        <div class="side">

                            <p class="avatar"><a><img src={{data.author.avatar}}></a></p>

                        </div>

                        <div class="main">

                            <ul class="specs">
                                <li><span>Author:</span> <a>{{data.author.name}}</a></li>
                                <li><span>Co-authors:</span>
                                    {{#if data.coAuthors.length}}
                                        {{#each data.coAuthors}}
                                            <a>{{this.name}}</a><br>
                                        {{/each}}
                                    {{else}}
                                        None<br>
                                    {{/if}}
                                </li>
                                <li><span>Language:</span> <a>{{data.notebook.language}}</a></li>
                                <li><span>Published:</span> {[{published | date: 'd MMM yyyy'}]}</li>
                                <li><span>Last update:</span> {[{lastUpdated | date: 'd MMM yyyy'}]}</li>
                            </ul>

                        </div>

                    </div>

                </div>

            </div>

        </div>

        <div class="tile">

            <!--Notebook-->
            <div class="tile-header">

                <h2 class="tile-title">Notebook</h2>

            </div>

            <!--todo: insert notebook html here-->
            <h4>Notebook html goes here</h4>

        </div>
        <!--todo: remove user.currentSubmission on cancel-->
        <ul class="button-row">
            <li>
                <a class="alt" ng-click="onCancel()">Cancel</a>
            </li>
            <li>
                <button type="submit" ng-click="onSubmit()">
                    Submit
                </button>
            </li>
        </ul>
    </div>
</div>