<head>
    <script src="/bundle.js"></script>
    <script>
        //todo: change this once not running on local host
        var url = 'http://localhost:8080';
        var app = angular.module('submissionApp', ['hc.marked']);

        app.config(function ($interpolateProvider) {
            $interpolateProvider.startSymbol('{[{');
            $interpolateProvider.endSymbol('}]}');
        });

        app.config(['markedProvider', function (markedProvider) {
            markedProvider.setOptions({
                gfm: true
            });
        }]);

        app.controller('submissionCtrl', function ($scope) {
            //todo: client side rendering
            $scope.published = new Date('{{data.n.published}}');
            $scope.lastUpdated = new Date('{{data.n.lastUpdated}}');
            $scope.summary = '{{data.n.summary}}';
            $scope.showComments = false;
            $scope.showNotebook = true;

            $scope.submitCommentClicked = function () {
                console.log("Submit comment clicked");
            };

            $scope.toggleView = function () {
                $scope.showComments = !$scope.showComments;
                $scope.showNotebook = !$scope.showNotebook;
            };

            $scope.downloadNotebook = function () {
                console.log("Download clicked");
            }
        });

        app.controller('voteCtrl', function ($scope) {
            $scope.downvoteClicked = function () {
                console.log("Downvote clicked");
            };

            $scope.upvoteClicked = function () {
                console.log("Upvote clicked");
            }
        });
    </script>
</head>
<div class="row" ng-app="submissionApp">
    <div class="column">

        <div class="details">

            <div class="details-side">
                <div class="vote" ng-controller="voteCtrl">
                    <!--todo: get submission id somehow...-->
                    <a class="fi-like" id="submission-upvote-button" ng-click="upvoteClicked(submissionID, true)"></a>

                    <span class="score" id="submission-score">{{data.n.votes}}</span>

                    <a class="fi-dislike" id="submission-downvote-button"
                       ng-click="downvoteClicked(submissionID, true)"></a>

                </div>

                <ul class="admin-options">
                    <li><a href="#" title="Flag notebook" data-open="flagNotebookModal"><span
                            class="fi-flag"></span></a></li>
                    <li><a href="#" title="Delete notebook" data-open="deleteContentModal"><span
                            class="fi-x"></span></a></li>
                </ul>

            </div>

            <div class="details-main">

                <div class="details-header">

                    <div class="details-title">

                        <h1 class="title">{{data.n.title}}</h1>

                        <ul class="topics">
                            {{#each data.n.topicList}}
                                <li><a href="/">{{this}}</a></li>
                            {{/each}}
                        </ul>

                    </div>

                    <div class="details-counts">

                        <div class="counts">
                            <ul>
                                <li class="views"><span class="count">{{data.n.views}}</span> Views</li>
                                <li class="comments"><span class="count">{{data.numTotalComments}}</span> Comments</li>
                                <li class="votes"><span class="count">{{data.n.votes}}</span> Votes</li>
                            </ul>
                        </div>

                    </div>

                </div>

                <div class="details-body" ng-controller="submissionCtrl">

                    <div class="details-primary">

                        <p marked="summary"></p>

                    </div>

                    <div class="details-secondary">

                        <div class="side">

                            <p class="avatar"><a href="/user/{{data.u._id}}/"><img src={{data.u.avatar}}></a></p>

                        </div>

                        <div class="main">

                            <ul class="specs">
                                <li><span>Author:</span> <a href="/user/{{data.n.author}}/">{{data.u.name}}</a></li>
                                <li><span>Co-authors:</span>
                                    {{#if data.coAuthors.length}}
                                        {{#each data.coAuthors}}
                                            <a href="/user/{{this._id}}">{{this.name}}</a><br>
                                        {{/each}}
                                    {{else}}
                                        None<br>
                                    {{/if}}
                                </li>
                                <li><span>Language:</span> <a href="/">{{data.n.language}}</a></li>
                                <li><span>Published:</span> {[{published | date: 'd MMM yyyy'}]}</li>
                                <li><span>Last update:</span> {[{lastUpdated| date: 'd MMM yyyy'}]}</li>
                            </ul>

                        </div>

                    </div>

                </div>

            </div>

        </div>

        <div class="tile" ng-controller="submissionCtrl">

            <!--Notebook-->
            <div class="tile-header" ng-show="showNotebook">

                <h2 class="tile-title">Notebook</h2>

                <ul class="tile-options">
                    <li></li>
                </ul>

                <ul class="tile-options">
                    <li><a class="active">Notebook</a></li>
                    <li><a ng-click="toggleView()">Comments {{data.n.comments.length}}</a></li>
                    <!--todo: implement download-->
                    <li><a class="alt" ng-click="downloadNotebook()">Download</a>
                    </li>
                </ul>

            </div>

            <!--todo: insert notebook html here-->
            <div ng-show="showNotebook">
                {{#if data.n.notebook}}
                    <h4>Notebook html goes here</h4>
                {{else}}
                    <p>Wow, such empty</p>
                {{/if}}
            </div>


            <!--Comments-->
            <div class="tile-header" ng-show="showComments">

                <h2 class="tile-title">Comments</h2>

                <ul class="tile-options">
                    <li><a ng-click="toggleView()">Notebook</a></li>
                    <li><a class="active">Comments {{data.n.comments.length}}</a></li>
                    <li><a class="alt" ng-click="downloadNotebook()">Download</a>
                    </li>
                </ul>

            </div>

            <div class="comments"
                 ng-show="showComments">

                <div class="comments-thread">

                    <!-- .comment -->
                    {{#each data.comments}}
                        <!--main comment-->
                        {{comment this ../data.replies ../data.commentUsers }}
                        <!--replies-->
                        {{#if this.replies.length}}
                            <!--todo: style the comment-nested-->
                            <div class="comment-nested" style="margin-left: 75px;">
                                {{#each this.replies}}
                                    {{reply this ../../data.replies ../../data.commentUsers}}
                                {{/each}}
                            </div>
                        {{/if}}

                    {{/each}}

                    <div class="comments-post">

                        <label for="">Post a comment</label>

                        <textarea></textarea>

                        <div class="submit-comment"><a ng-click="submitCommentClicked(true)">Submit</a></div>

                    </div>

                </div>

                <!--todo: figure out how to display either the comments or notebook-->


            </div>
        </div>
    </div>
</div>