<head>
    <script src="/bundle.js"></script>
    <script src="/assets/js/modules/main.js"></script>
</head>

<div ng-app="mainApp" ng-controller="userPageCtrl" data-ng-init="initUserData()">
    <div class="row columns">

        <div class="details">

            <div class="details-side">

                <p class="avatar"><a href="#"><img src={{data.user.avatar}}></a></p>

                <!--todo: restrict admin option. make adding admin secure somehow-->

                <ul class="admin-options">
                    <li><a href="#" title="Flag user" data-open="flagUserModal"><span class="fi-flag"></span></a>
                    </li>
                    {{#if data.currentUser.isAdmin}}
                        <li><a href="#" title="Delete user" data-open="deleteContentModal"><span
                                class="fi-x"></span></a>
                        </li>
                    {{/if}}

                </ul>
            </div>

            <div class="details-main">

                <div class="details-header">

                    <div class="details-title">

                        <h1 class="title">{{data.user.name}}</h1>
                        {{#if data.myPage}}
                            <ul class="details-options">
                                <li><a href="/user/my-profile/edit/" title="Edit Profile"><span
                                        class="fi-widget"></span></a></li>
                                <li><a href="/logout"><span class="fi-x-circle"></span> <span>Sign Out</span></a></li>
                            </ul>
                        {{/if}}

                        <p class="date">Joined {[{userJoined | date:'d MMM yyyy'}]}</p>

                    </div>

                    <div class="details-counts">

                        <div class="counts">
                            <ul>
                                <li class="views"><span class="count">{{data.user.submissions.length}}</span> Notebooks
                                </li>
                                <li class="votes"><span class="count">{{data.user.voteScore}}</span> Votes</li>
                                <li class="comments"><span class="count">{{data.user.numComments}}</span> Comments</li>
                            </ul>
                        </div>

                    </div>

                </div>

                <div class="details-body">

                    <div class="details-primary">

                        <p marked="userSummary"></p>

                        <p class="web"><a href="http://{{data.user.website}}/">{{data.user.website}}</a>

                        <ul class="networks">
                            {{#if data.user.github.url}}
                                {{#if data.user.github.hidden}}
                                {{else}}
                                    <li><a href="{{data.user.github.url}}"><span class="fi-social-github"></span>
                                        <span>GitHub</span></a></li>
                                {{/if}}
                            {{/if}}
                            {{#if data.user.fb.url}}
                                {{#if data.user.fb.hidden}}
                                {{else}}
                                    <li><a href="{{data.user.fb.url}}"><span class="fi-social-facebook"></span>
                                        <span>Facebook</span></a></li>
                                {{/if}}
                            {{/if}}
                            {{#if data.user.twitter.url}}
                                {{#if data.user.twitter.hidden}}
                                {{else}}
                                    <li><a href="{{data.user.twitter.url}}"><span class="fi-social-twitter"></span>
                                        <span>Twitter</span></a></li>
                                {{/if}}
                            {{/if}}
                                <!--{{#if data.user.linkedIn.url}}-->
                                <!--{{#if data.user.linkedIn.hidden}}-->
                                    <!--{{else}}-->
                                <!--<li><a href="{{user.linkedIn.url}}"><span class="fi-social-linkedin"></span>-->
                                <!--<span>LinkedIn</span></a></li>-->
                                    <!--{{/if}}-->
                                <!--{{/if}}-->
                            {{#if data.user.email}}
                                <li><a href="mailto:{{data.user.email}}"><span class="fi-mail"></span>
                                    <span>Email</span></a></li>
                            {{/if}}
                        </ul>

                    </div>

                </div>

            </div>

        </div>

    </div>

    <!--submissions-->
    <div class="row">
        <div class="column">
            {{> submissions userPage=true}}
        </div>
    </div>
</div>